.language-toggle {
  display: flex;
  align-items: center;
}

.language-selector {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 2rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
  padding-right: 2.5rem;
}

.language-selector:hover {
  background-color: rgb(243, 243, 243);
  border-color: rgb(53, 53, 53);
}

.language-selector:focus {
  border-color: rgb(53, 53, 53);
  box-shadow: 0 0 0 2px rgba(53, 53, 53, 0.1);
}

/* Mobile responsive adjustments */
@media screen and (max-width: 1200px) {
  .language-toggle {
    justify-content: center;
    padding: 0.5rem 0;
  }

  .language-selector {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    padding-right: 2rem;
  }
}
